<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.shiro.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.lee.shiro.model.Permission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission_chinese_name" property="permissionChineseName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aaa.lee.shiro.model.Permission" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into permission (permission_name, permission_chinese_name
      )
    values (#{permissionName,jdbcType=VARCHAR}, #{permissionChineseName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aaa.lee.shiro.model.Permission" >
    update permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_chinese_name = #{permissionChineseName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, permission_name, permission_chinese_name
    from permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, permission_name, permission_chinese_name
    from permission
  </select>
</mapper>