<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8" />
    <title>Book_List</title>
</head>
<body>
    <table border="1px solid black">
        <thead>
            <tr>
                <th>图书编号</th>
                <th>图书名称</th>
                <th>图书价位</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${bookList}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.bookName}"></td>
                <td th:text="${book.bookPrice}"></td>
                <td>
                    <shiro:hasRole name="book_manager">
                        <a shiro:hasPermission="book:update" href="">修改</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a shiro:hasPermission="book:delete" href="">删除</a>
                    </shiro:hasRole>
                </td>
            </tr>
        </tbody>

    </table>
</body>
</html>